<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery.mask.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/masterPage.css">
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<style>
		#td{
			width: 50%;
			margin-left: 120px;
			margin-top:15px;
			padding:1px;
		}
		#filtro{
			text-align:center;
			padding:1px;
		}
		#pad{
			padding:2px;
		}
	</style>
</head>

<body>
<div th:replace="fragments/menuLateral :: menuLateral"></div>
<div id="pagina">
	<h1>Lista de Usuarios</h1>
	<div>
	<a href="/cadastrarUsuario">
		<button type="button" class="btn btn-primary">
	  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Cadastrar Usuario
		</button>
	</a>
	<a href="/paginaInicial">
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span></button>
	</a>
	</div>
	<div>
		<table class="table table-bordered" id="td">
			<tr><td colspan="6" id="filtro"><b>Filtros</b></td></tr>
			<tr>
				<td style="vertical-align: middle" id="pad">
					<b>Nome: </b>
				</td> 
				<td id="pad">
					<input id="nome" class="form-control" type="text"/>
				</td>
				
				<td style="vertical-align: middle" id="pad">
					<b>Nivel: </b>
				</td> 
				<td id="pad">
					<select id="nivel" class="form-control" name="nivel">
						<option value = 0 selected>SELECIONE</option>
						<option value = 1>Administrador</option>
						<option value = 2>Recepcionista</option>
						<option value = 3>Médico</option>
						<option value = 4>Laboratório</option>
					</select>
				</td>
				
				<td style="vertical-align: middle" id="pad">
					<b>Status: </b>
				</td> 
				<td id="pad">
					<select id="status" class="form-control" name="status">	
						<option value="" selected>SELECIONE</option>
						<option value="'A'">Ativo</option>
						<option value="'I'">Inativo</option>
  	  				</select>
				</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right" id="pad">
					<a onclick="busca()">
						<button type="button" class="btn btn-primary">
					  			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
						</button>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<td><b>Nome</b></td>
				<td><b>Login</b></td>
				<td><b>Nivel</b></td>
				<td><b>Status</b></td>
			</thead>
			<tr th:each="usuario : ${usuarios}">
					<td><span th:text="${usuario.nomeUsuario}"></span></td>
					<td><span th:text="${usuario.login}"></span></td>
					<td th:switch="${usuario.nivel}">
						<span th:case=1>Administrador</span>
						<span th:case=2>Recepcionista</span>
						<span th:case=3>Médico</span>
						<span th:case=4>Laboratório</span>
					</td>
					<td><span th:text="${usuario.status} == 'I' ? Inativo : Ativo"></span></td>
					<td width="10px">
						<a th:href="${(#mvc.url('UC#editarUsuario').arg(0, usuario.idUsuario)).build()}">
							<button type="button" class="btn btn-primary">
				  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</a>
					</td>
					<td width="10px">
						<a th:href="${(#mvc.url('UC#excluirUsuario').arg(0, usuario.idUsuario)).build()}">
							<button type="button" data-method="delete" class="btn btn-danger">
					  			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>	
							</button>
						</a>
					</td>	
			</tr>
		</table>
	</div>
</div>
</body>
<script>
	function busca(){
		var nome 	= $("#nome").val();
		var nivel 	= $("#nivel").val();
		var status	= $("#status").val();
		
		window.location.href='buscarUsuarios?nome='+ nome +'&nivel=' + nivel + '&status=' + status;
	}
</script>
</html>

