<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/masterPage.css">
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<style>
		.hora{
			width:60px;
		}
	
	</style>
</head>

<body>
<div th:replace="fragments/menuLateral :: menuLateral(${quantidadeNaolidas})"></div>
<div id="pagina">
<h1>Marcar Consulta</h1>
<div class="container">
<form method="post">
<table>
	<tr>
		<td>Paciente: </td><td>									
								<select class="form-control" name="paciente.idPaciente">
									<option value = "0" th:text="SELECIONE"></option>
									<option th:each="paciente : ${pacientes}"
									        th:value="${paciente.idPaciente}"
									        th:text="${paciente.nomeCompleto}"
									        th:selected="(${paciente.nomeCompleto}== *{agenda.paciente.nomeCompleto})"/>
								
								</select>
							</td>
	</tr>
	<tr>
		<td>Médico: </td> <td>
								<select class="form-control" name="usuarioMedico.idUsuario">
										<option value = "0" th:text="SELECIONE"></option>
										<option th:each="usuario : ${usuarios}"
										        th:value="${usuario.idUsuario}"
										        th:text="${usuario.nomeUsuario}"
										        th:selected="(${usuario.nomeUsuario}== *{agenda.usuarioMedico.nomeUsuario})"/>
									
									</select>
				  		</td>
	</tr>
	
	<tr>
		<td>Data da Consulta: </td> <td> <input class="form-control" id="data" type="datetime-local" th:field="${agenda.dataPrevista}" name="dataPrevista"/></td>
	</tr>
	<tr height=20px>
	</tr>
	<tr>
		<td>
			<a href="/agenda">
				<button type="button" class="btn btn-primary">
			  		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar	
				</button>
			</a>
		</td>
		<td>
			<button type="submit" class="btn btn-primary">
		  		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Salvar
			</button>
		</td>
	</tr>
	
</table> 
</form>
</div>
</div>
</body>
<script>
	$(document).ready(function(){
		var data = $(this).text();
		var dataFormatada, horaFormatada;
		var ano, mes, dia, hora, minuto;
		
		
		ano = data.substring(0,4);
		mes = data.substring(5,7);
		dia = data.substring(8,10);
		
		hora 	= data.substring (11,13);
		minuto  = data.substring (14,16);
		
		
		dataFormatada = dia + "/" + mes + "/" + ano;
		horaFormatada = hora + ":" + minuto;
	});
</script>
</html>