<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<style>
		.hora{
			width:60px;
		}
	
	</style>
</head>

<body>

<h1>Marcar Consulta</h1>
<div class="container">
<table>
	<tr>
		<td>Paciente: </td><td><select class="form-control" name="paciente.idPaciente">
									<option value = "0" th:text="SELECIONE"></option>
									<option th:each="paciente : ${pacientes}"
									        th:value="${paciente.idPaciente}"
									        th:text="${paciente.nomeCompleto}"/>
								
								</select>
							</td>
	</tr>
	<tr>
		<td>Médico: </td> <td>
								<select class="form-control" name="usuario.idUsuario">
									<option value = "0" th:text="SELECIONE"></option>
									<option th:each="usuario : ${usuarios}"
									        th:value="${usuario.idUsuario}"
									        th:text="${usuario.nomeUsuario}"/>
								
								</select>
				  		</td>
	</tr>
	
	<tr>
		<td>Data da Consulta: </td> <td> <input class="form-control" type="date" name="dataPrevista"/></td>
	</tr>
	<tr height=20px>
	</tr>
	<tr>
		<td>
			<a href="/agenda">
				<button type="button" class="btn btn-primary">
			  		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar	
				</button>
			</a>
		</td>
		<td>
			<button type="submit" class="btn btn-primary">
		  		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Salvar
			</button>
		</td>
	</tr>
	
</table> 
</div>
</body>
</html>