<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery.mask.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
</head>

<body>
	<h1>Lista de Horarios</h1>	
	<div>
	<a href="/marcarConsulta">
		<button type="button" class="btn btn-primary">
	  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Marcar Consulta
		</button>
	</a>
	<a href="/paginaInicial">
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span></button>
	</a>
	</div>
	<div class="container">
	<table class="table">
			<thead>
				<td><b>Nome Médico</b></td>
				<td><b>Nome Paciente</b></td>
				<td><b>Data Consulta</b></td>
				<td><b>Hora Consulta</b></td>
				<td><b>Telefone</b></td>
				<td><b>Celular</b></td>
			</thead>
			<tr th:each="agenda : ${agendas}">
					<td><span th:text="${agenda.usuarioMedico.nomeUsuario}"></span></td>
					<td><span th:text="${agenda.paciente.nomeCompleto}"></span></td>
					<td><span class="data" th:text="${agenda.dataPrevista}"></span></td>
					<td><span class="hora"></span></td>
					<td><span th:text="${agenda.paciente.telefone}"></span></td>
					<td><span th:text="${agenda.paciente.celular}"></span></td>
			</tr>
		</table>
	</div>
<script>
	$(document).ready(function(){
		$(".data").each(function(){
			var data = $(this).text();
			var dataFormatada, horaFormatada;
			var ano, mes, dia, hora, minuto;
			
			
			ano = data.substring(0,4);
			mes = data.substring(5,7);
			dia = data.substring(8,10);
			
			hora 	= data.substring (11,13);
			minuto  = data.substring (14,16);
			
			
			dataFormatada = dia + "/" + mes + "/" + ano;
			horaFormatada = hora + ":" + minuto;
			
			
			$(this).text(dataFormatada);
			$(this).closest("td").next().find(".hora").text(horaFormatada);
			
		});
		
	});
</script>
</body>
</html>



