<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/jquery.mask.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/masterPage.css">
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<style>
		#td{
			width: 30%;
			margin-left: 120px;
			margin-top:15px;
			padding:1px;
		}
		#filtro{
			text-align:center;
			padding:1px;
		}
		#pad{
			padding:2px;
		}
	</style>
</head>

<body>
<div th:replace="fragments/menuLateral :: menuLateral(${quantidadeNaolidas})"></div>
<div id="pagina">
	<h1>Histórico de exames</h1>	
	<div>
	<a href="/solicitarExame">
		<button type="button" class="btn btn-primary">
	  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Solicitar exame
		</button>
	</a>
	<a href="/paginaInicial">
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span></button>
	</a>
	</div>
	<div>
		<table class="table table-bordered" id="td">
			<tr><td colspan="4" id="filtro"><b>Filtros</b></td></tr>
			<tr>
				<td style="vertical-align: middle" id="pad">
					<b>Nome: </b>
				</td> 
				<td id="pad">
					<input id="nome" class="form-control" type="text"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:right" id="pad">
					<a onclick="busca()">
						<button type="button" class="btn btn-primary">
					  			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
						</button>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<td><b>Paciente</b></td>
				<td><b>Telefone</b></td>
				<td><b>Exames</b></td>
			</thead>
			<tr th:each="paciente : ${pacientes}">
					<td><span th:text="${paciente.nomeCompleto}"></span></td>
					<td><span th:text="${paciente.telefone}"></span></td>
					<td width="10px">
						<a th:href="${(#mvc.url('EC#consultaExames').arg(0, paciente.idPaciente)).build()}">
							<button type="button" class="btn btn-primary">
				  				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
							</button>
						</a>
					</td>
			</tr>
		</table>
	</div>
</div>
</body>
<script>
	function busca(){
		var nome = $("#nome").val();
		
		window.location.href='buscarExames?nome=' + nome;
	}
</script>
</html>

