<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery.mask.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<link rel="stylesheet" href="css/masterPage.css">
</head>


<div th:fragment="menuLateral(quantidadeNaoLidas)">
<nav id="menu">
    <ul>
    	<li id="topo">
    		<a href="/paginaInicial"><span id="titulo">SGC</span></a> 
    	</li>
    	<li>
	        <div>
			  <a href="/mensagem">
			  		Mensagens 
				  		<sup>
				  			<span  th:if="${quantidadeNaolidas} > 0" type="text" name="quantidadeNaolidas" th:text="${quantidadeNaolidas}"></span>
				  		</sup>
			  </a>
			</div>
		</li>
        <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED')">
	        <div>
			  <a href="/consulta">Realizar Consulta</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED')">
	        <div>
			  <a href="/listaConsulta">Histórico de Consultas</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED') or hasRole('ROLE_USER')">
			<div>
				<a href="/pacientes">Pacientes  </a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED') or hasRole('ROLE_USER')">
			<div>
				<a href="/agenda">Agendamento de Consultas</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN')">
			<div>
			  <a href="/usuarios">Usuários</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED')">
			<div>
			  <a href="/horarios">Horários</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED')">
			<div>
			  <a href="/medicamentos">Medicamentos</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED') or hasRole('ROLE_USER')">
			<div>
			  <a href="/solicitarExame">Solicitar Exames</a>
			</div>
		</li>
		<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED') or hasRole('ROLE_USER')">
			<div>
			  <a href="/exame">Histórico de Exames</a>
			</div>
		</li>
		<li  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_LAB')">
			<div>
				<a href="/buscarTodosExames">Realizar Exame</a>
			</div>
		</li>
		<li>
			<div>
				<a href="/logout">Logout</a>
			</div>
		</li>
    </ul>
</nav>
</div>
</html>