<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery.mask.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
	<style>
		.form-control{
			margin:10px;
		}
	</style>
</head>
  <body>
    <div class="container">
	<h1 style="text-align:center">SGC</h1>
    
        <form name="f" th:action="@{/login}" method="post">
        <table align="center">    
          	<tr height=20px>
          	</tr>
          	<tr>
                <td><label for="username">Usuário: </label></td> <td><input class="form-control" type="text" id="username" name="username"/> </td>
            </tr>
            <tr>        
               <td><label for="password">Senha: </label></td>   <td><input class="form-control" type="password" id="password" name="password"/></td>    
            </tr>  
            <tr>  
                <td></td><td style="text-align:center" ><div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                    		Entrar<span class="glyphicons glyphicons-log-in"></span>
                    </button>
                </div></td>
            </tr>
        </table>
        </form>
       	<div th:if="${logout}" class="alert alert-success">
                    Logout realizado com sucesso.
        </div>
        <div th:if="${erroLogin}" class="alert alert-danger">    
                    Usuário ou senha inválidos.
        </div>
    </div>
  </body>
</html>