<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery.mask.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>SGC - Sistema de Gerenciamento de Clinicas</title>
</head>
<body>
<h1>SGC</h1>

<h3><a href="/pacientes">Pacientes  </a></h3>
<h3><a href="/agenda">Agendamento de Consultas</a></h3>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  <h3><a href="/usuarios">Usuários</a></h3>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MED')">
  <h3><a href="/horarios">Horários</a></h3>
</div>

<h3><a href="/logout">Logout</a></h3>
	
</body>
</html>